body {
    color: #121214;
    background-color: rgba(245, 245, 245, 0.904);
    overflow-x: hidden;
}

.jumbotron {
    color: #272B27;
    background-color: #438d1c;
    font-family: 'Fjalla One', sans-serif;
}

#main-header {
    font-weight: 500;
    font-size: 5em;
}

.main-content {
    display: none;
}

.display-box {
    border: 1px solid #438d1c;
    border-radius: 4px;
}

.aur-box {
    height: 530px;
}

.display-header {
    color: #121214;
}

th {
    color: #438d1c;
}

#username {
    position: absolute;
    top: 12px;
    right: 120px;
    color: #034242;
}

.table {
    width: 70%
}

#login-box {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    color: #438d1c
}

@media screen and (max-width: 700px) {
    #login-box {
        color: #034242;
        position: absolute;
        top: 25%;
        left: 10%;
    }

    #login-submit {
        color: #034242;
        border: 2px solid #034242;
    }
}

@media screen and (min-width: 701px) {
    #login-submit {
        color: #438d1c;
        border: 2px solid #438d1c;
    }
}

#login-submit {
    width: 300px;
    height: 55px;
    font-size: 1.5em;
}

[id*="submit"] {
    background: none;
    color: #272B27;
    border: 1px solid #438d1c;
    border-radius: 8px;
}

[id*="tab"] {
    color: #272B27;
    font-weight: 600;
}

#sign-out-submit {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #034242;
    border: 1px solid #034242;
}

#morph1 {
    fill: #438d1c;
}

#morph2 {
    fill: #034242;
}

#svg-one {
    height: 100vh;
}

#svg-two {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}
@media screen and (min-width: 1340px) {
    #svg-two {
        display: none;
    }
}


#welcome {
    position: relative;
    left: -1000;
}

/* Useful for testing while in local.
/* #login-page {
    display: none;
} */