body {
    color: #121214;
    background-color: rgba(245, 245, 245, 0.904);
    overflow-x: hidden; 
}

.jumbotron {
    color: #272B27;
    background-color: #29ABE2;
    font-family: 'Fjalla One', sans-serif;
}

#main-header {
    font-weight: 500;
    font-size: 5em;
}

.display-box {
    border: 1px solid #29ABE2;
    border-radius: 4px;
}

.aur-box {
    height: 530px;
}

.display-header {
    color: #121214;
}

th {
    color: #29ABE2;
}

#username {
    position: absolute;
    top: 12px;
    right: 120px;
    color: #121214;
}

.table {
    width: 70%
}

#login-box {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    color: #29ABE2
}

#login-submit {

    width: 300px;
    height: 55px;
    font-size: 1.5em;
    color: #29ABE2;
    border: 2px solid #29ABE2
}

[id*="submit"] {
    background: none;
    color: #272B27;
    border: 1px solid #29ABE2;
    border-radius: 8px; 
}

[id*="tab"] {
    color: #272B27;
    font-weight: 600;
}

#sign-out-submit {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
}

#morph1 {
    fill: #29ABE2;
}
#morph2 {
    fill: #034242;
}
#svg-two {
    position: absolute;
    top: 0;
    left: 0;
}
#welcome {
    position: relative;
    left: -1000;
}